@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");

body {
  background-color: rgb(244, 243, 243);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 15px;
}
.Container .aarti {
  background-image: linear-gradient(to right, #141e30cb, #243b55ee);
  width: 51vw;
  height: 15%;
  border-radius: 30pc;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.Container img {
  border-radius: 100%;
  /* width: 9vw; */
  aspect-ratio: 6/5;
  /* margin-left: -20px; */
}
.Container h1 {
  font-family: "kanit", sans-serif;
  color: wheat;
}
.Container .aarti:hover {
  background-image: linear-gradient(to right, #141e30, #243b55);
}
.Container .vishnu img{
    /* width: 27%; */
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
article{
  display: flex;
  flex-direction: column;
}

article h1{
  font-size: 50px;
  color: red;
  text-decoration: underline;
}
article p{
  font-size: 30px;
  font-weight: bold;
}

article img{
  width: 40%;
  height: 40%;
  border-radius: 20px;
}
  @media screen and (max-width: 1300px) {
  .aarti img {
        width: 9vw;
      }
    }
  
  @media screen and (max-width:700px){
      .Container .aarti{
          width: 70%;
      }
      .aarti img {
        width: 15vw;
      }
  }
  @media screen and (max-width:500px){
      .Container h1{
          font-size: 20px;
      }
      .Container .aarti{
          width: 99%;
      }
      .aarti img {
        width: 33vw;
        aspect-ratio: 7/5;
      }
      .hanuman img {
        margin-left: 20px;
      }
      article h1{
        font-size: 30px;
      }
      article p{
        font-size: 20px;
      }
      article img{
        height: 70%;
        width: 70%;
      }
      article .long{
        font-size: 15px;
      }
  }